body {
   
    background-image: url(winter-background.jpg);
    background-repeat: no-repeat;
}


header, footer {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}




h1, .div1 {
    font-family:'Berkshire Swash', serif;
}


h3, footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#madLibOutput {
    padding: 10px;
    text-align: left;
}




p {
   color: white;
   font-size: 30px;




}




.div1 {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 4px solid white;
}


