
.background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .background::before {
    content: "";
    background-image: url("winter-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Put it behind the content */
  }



header {
    background-color: #b8b8b870;
    backdrop-filter: blur(5px);
}


header, footer {
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
    
h1 {
    font-family:'Berkshire Swash', serif;
}

.div1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h3, footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#madLibOutput {
    padding: 10px;
    text-align: left;
}

p {
   color: white;
   font-size: 30px;
}

.div1 {
    background-color: transparent;
    background-color: #b8b8b870;
    backdrop-filter: blur(8px);
    border: 4px solid white;
    border-radius: 4px;
}

.btncustom {
    border: 4px solid #4f9bffc2;
    background-color: white;
    color: #4f9bffc2;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btncustom:hover {
    border: 4px solid white;
    background-color: #4f9bffc2;
    color: white;
    font-weight: bold;
}


.btncustom:active {
    border: 4px solid white;
    color: white;
    font-weight: bold;
}

.btncustom:link {
    border: 4px solid white;
    color: white;
    font-weight: bold;
}